<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <img alt="GamerZ logo" class="center" src="assets/images/news2.png">
            <h2>Delete News</h2>
            <div class="example-container">
                <mat-form-field class="example-full-width">
                    <mat-label>News Title</mat-label>
                    <input matInput placeholder="Ex. Jhon Doe">
                </mat-form-field>
                <button mat-raised-button color="primary">Delete</button>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

