<div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <img alt="GamerZ logo" class="center" src="assets/images/news2.png">
          <h2>Sign up</h2>
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label>Full Name</mat-label>
                <input matInput placeholder="Ex. Jhon Doe">
              </mat-form-field>
            </form>
            <div class="example-container">
              <mat-form-field>
                <mat-label>Email</mat-label>
                  <input matInput placeholder="Enter your email" [formControl]="email" required>
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Confirm Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              </mat-form-field>
                  <button mat-raised-button color="primary">Sign up</button>
            </div>     
      </div>
      <div class="col"></div>
    </div> 
</div>
