<div class="container">
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="assets/images/localnews1.png" >   
        <mat-card-actions>
          <a class="btn" routerLink='localnews'><button mat-raised-button color="primary">Local News</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="assets/images/worldnews.jpg" >
        <mat-card-actions>
          <a class="btn" routerLink='foreignews'><button mat-raised-button color="primary">Foreign News</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="assets/images/sportsnews.jpg" >
        <mat-card-actions>
          <a class="btn" routerLink='sportsnews'><button mat-raised-button color="primary">Sports News</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="example-card">
        <img mat-card-image src="assets/images/weatherforcast.png" >
        <mat-card-actions>
          <a class="btn" routerLink='weather'><button mat-raised-button color="primary">Weather Forecast</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>